function Main.main 0
push constant 0
return
function Main.hoge 4
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 2
lt
not
if-goto WHILE_END0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function Main.hogehoge 0
push constant 100
return
function Main.fuga 0
push argument 0
pop pointer 0
push pointer 0
return
